<template>
  <div class="bg-black">
    <div class="bg-white rounded-full h-16 w-16"></div>
    <div class="bg-white rounded-full h-32 w-32"></div>
    <div class="bg-white rounded-full h-64 w-64"></div>
  </div>
</template>

<script>
export default {
  
}
</script>
