<template>
  <div class="bg-blue flex flex-col items-center justify-end p-8 background">
    <div class="ball h-16 w-16 flex flex-col items-stretch justify-around p-3 z-20">
      <div class="flex flex-row items-center justify-around self-stretch">
        <div class="coal"></div>
        <div class="coal"></div>
      </div>
      <div class="rounded-full h-2 w-2 bg-orange self-center -mb-4"></div>
      <div class="flex flex-row items-center justify-around">
        <div class="coal"></div>
        <div class="coal mt-3"></div>
        <div class="coal mt-4"></div>
        <div class="coal mt-3"></div>
        <div class="coal"></div>
      </div>
    </div>
    <div class="ball h-32 w-32 -mt-2 flex flex-col items-center justify-around p-4 z-10">
      <div class="coal"></div>
      <div class="coal"></div>
    </div>
    <div class="ball h-64 w-64 -mt-4 flex flex-col items-center justify-around p-8">
      <div class="coal" ></div>
      <div class="coal"></div>
      <div class="coal"></div>
    </div>
  </div>
</template>

<style scoped>
  .coal {
    @apply rounded-full bg-black h-2 w-2;
  }

  .ball {
    @apply rounded-full;
    background: radial-gradient(circle at 30% 10%, #fcfcfc, #f1f2f7 50%, #abc1ea 100%);
  }

  .background {
    background: url('/background.jpg');
    background-size: cover;
    background-position: bottom;
  }
</style>


<script>
export default {
  
}
</script>
