<template>
  <div class="bg-blue flex flex-col items-center justify-start p-8 relative">
    <div class="bg-white rounded-full h-16 w-16"></div>
    <div class="bg-white rounded-full h-32 w-32 -mt-2"></div>
    <div class="bg-white rounded-full h-64 w-64 -mt-4"></div>
    <div class="bg-black w-2 h-2 absolute pin-x pin-t  mx-auto mt-32"></div>
    <div class="bg-black w-2 h-2 absolute pin-x pin-t  mx-auto mt-"></div>
  </div>
</template>

<script>
export default {
  
}
</script>
