<template>
  <div class="main">
    <div class="py-32 text-center bg-grey-lighter">
      <div class="font-bold text-5xl mb-16">
        Die Schneemann 3x3 Challenge
      </div>
      <a href="https://art.todoninja.de/challenges/149gY" class="rounded-lg shadow-md px-8 py-4 font-bold bg-grey-light text-black">Visit the forum</a>
    </div>
    <div class="bg-grey-lighter py-8">
      <div class="p-8 container mx-auto">
        <span class="font-bold text-5xl">
          30
        </span>
        <span class="font-lighter">
          Seconds
        </span>
        <ThirtySeconds class="rounded-lg shadow-lg p-8 overflow-hidden"></ThirtySeconds>
      </div>
    </div>
    <div class="bg-blue-lighter py-8">
      <div class="p-8 container mx-auto">
        <span class="font-bold text-5xl">
          3
        </span>
        <span class="font-lighter">
          Minutes
        </span>
        <ThreeMinutes class="rounded-lg shadow-lg p-8 overflow-hidden"></ThreeMinutes>
      </div>
    </div>

    <div class="py-8 relative">
      <div class="background-blur absolute pin"></div>
      <div class="p-8 container mx-auto">
        <span class="font-bold text-5xl">
          30
        </span>
        <span class="font-lighter">
          Minutes
        </span>
        <ThirtyMinutes class="z-10 rounded-lg shadow-lg p-8 overflow-hidden"></ThirtyMinutes>
        <div class="mt-32 text-center">
          Built by <a href="https://owner.todoninja.de" class="link">Sebastian Dittrich</a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .main {
    font-family: 'Ubuntu', sans-serif;
  }
  .background-blur {
    z-index: -10;
    background: url('/background.jpg');
    background-size: cover;
    background-position: bottom;
    filter: blur(50px) brightness(110%);
  }
</style>


<script>
import ThirtySeconds from '@/components/ThirtySeconds';
import ThreeMinutes from '@/components/ThreeMinutes';
import ThirtyMinutes from '@/components/ThirtyMinutes';
import '@/assets/main.css'

export default {
  components: {
    ThirtySeconds,
    ThreeMinutes,
    ThirtyMinutes,
  }
}
</script>
